/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Banner
- Scalable Container
- Remove Undo


/* Banner
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.banner {
  height: 79px;
  background-color: #252e3f !important; /* Machine Learning Color is orange */
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  margin-bottom: 8px;
}

.banner h2 {
  color: green;
  background-color: #5856b6 !important; /* Machine Learning Color is orange */
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size:4rem;
  line-height:1;
}

.banner Img {
  position: relative;
  background-color: #6a0000 !important; /* Machine Learning Color is orange */
  float: right;
  height: 75px;
}

/* Scalable Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container.scalable {
  width: 90%;
  background-color: #783af5 !important; /* Machine Learning Color is orange */
  max-width: none;
}

/* Remove Undo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
._dash-undo-redo {
display: none;
}




/* PLotly.js
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* plotly.js's modebar's z-index is outta the roof by default - lower it down */
.js-plotly-plot .plotly .modebar {
    z-index: 0 important!;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; 
  background-color: #661458 !important; /* Machine Learning Color is orange */
}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; 
  background-color: #9ba3e2 !important; /* Machine Learning Color is orange */
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(193, 205, 255); 
  background-color: rgb(0, 0, 55);
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300; }
h1 { font-size: 4.5rem; line-height: 1.2;  letter-spacing: -.1rem; margin-bottom: 2rem; }
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; margin-bottom: 1.8rem; margin-top: 1.8rem;}
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; margin-bottom: 1.5rem; margin-top: 1.5rem;}
h4 { font-size: 2.6rem; line-height: 1.35; letter-spacing: -.08rem; margin-bottom: 1.2rem; margin-top: 1.2rem;}
h5 { font-size: 2.2rem; line-height: 1.5;  letter-spacing: -.05rem; margin-bottom: 0.6rem; margin-top: 0.6rem;}
h6 { font-size: 2.0rem; line-height: 1.6;  letter-spacing: 0; margin-bottom: 0.75rem; margin-top: 0.75rem;}

p {
  margin-top: 0; }


/* Blockquotes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
blockquote {
  border-left: 4px lightgrey solid;
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0rem;
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB;
  cursor: pointer;
  text-decoration: underline;}
a:hover {
  color: #0FA0CE; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input,
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit; /*https://stackoverflow.com/questions/6080413/why-doesnt-input-inherit-the-font-from-body*/}
/* Removes awkward default styles on some inputs for iOS */
input,
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: 0px; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 0rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 0rem; }
pre,
dl,
figure,
table,
form {
  margin-bottom: 0rem; }
p,
ul,
ol {
  margin-bottom: 0.75rem; }

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


h1, h2, h3, h4, h5, h6, small, button, textarea, b, input, div, td {font-family: 'visuelt-regular', 'Open Sans', 'PT Sans', 'Gill Sans', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Helvetica Neue', 'Segoe UI', Helvetica, 'Georgia', 'sans-serif', 'serif'}
.font-color {color: white;}
.huge-font {font-size: 300%;}
.font-250 {font-size: 250%;}
.BIG-font {font-size: 235%;}
.BIGGER-font {font-size: 270%;}
.bolder {font-weight: bolder;}
.bold {font-weight: bold;}
.large-font {font-size: 190%;}
.larger-font {font-size: 220%;}
.medium-font {font-size: 100%;}
.mediumlarge-font {font-size: 134%; line-height: 92%;}
.mediumlarger-font {font-size: 144%; line-height: 92%;}
.slightlybigger-font {font-size: 120%;}
.slightlybiggerer-font {font-size: 135%;}
.small-font {font-size: 84%;}
.smaller-font {font-size: 75%;}
.smallest-font {font-size: 68%;}
.tiny-font {font-size: 54%;}
.tiniest-font {font-size: 40%; padding: 0px 0px 0px 0px}
.align-right {align-items: flex-end; text-align: right; align-content: flex-end; right: 0;}
.shortLineHeight {line-height: 84%;}
.tinyLineHeight {line-height: 54%;}
.tiniestLineHeight {line-height: 34%;}
.branding-color {background-color: #3B1466;}
.branding-header {background-color: #3B1466;color: white;font-family: Georgia, 'Open Sans', 'PT Sans', 'Gill Sans', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Helvetica Neue', 'Segoe UI', Helvetica, 'Georgia', 'sans-serif', 'serif';}
.body-font {font-family: 'visuelt-regular', 'Open Sans', 'PT Sans', 'Gill Sans', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Helvetica Neue', 'Segoe UI', Helvetica, 'Georgia', 'sans-serif', 'serif'}
.header-font {font-family: Georgia, 'Open Sans', 'PT Sans', 'Gill Sans', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Helvetica Neue', 'Segoe UI', Helvetica, 'Georgia', 'sans-serif', 'serif'}
.georgia-font {font-family: Georgia, 'Open Sans', 'PT Sans', 'Gill Sans', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Helvetica Neue', 'Segoe UI', Helvetica, 'Georgia', 'sans-serif', 'serif'}
.branding-footer {color: white; background-color: #3B1466;}
.logo {width: 200px;}
.data-column-names {color: #FF4942;}
.input-file-validations {color: #FF4942;}
.bg-gray, .bg-grey {background-color: #707070;color: black;}
.bg-background-gray, .bg-background-grey{background-color: #f5f5f5;}
.text-grey {color: #707070;}
.bg-light-grey, .bg-light-gray {background-color: #BCBCBC;}
.text-light-grey, .text-light-gray {color: #BCBCBC;}
.bg-x-light-grey, .bg-x-light-gray {background-color: #D8D8D8;}
.bg-light-amethyst {background-color: #9D89B2;}
.bg-lightblue {background-color: #e1edfe;}
.bg-amethyst {color: white; background-color: #3B1466;}
.bg-coral {background-color: #FF4942;}
.bg-green {background-color: #00a87e;}
.text-green {color: #00a87e;}
.text-light-blue {color: #a8c8eb;}
.text-light-amethyst {color: #9D89B2;}
.text-coral {color: #FF4942;}
.text-amethyst {color: #3B1466;}
.text-bright-amethyst, .text-brightamethyst, .bright-amethyst, .brightamethyst{color: #7622d4}
.border-amethyst {border-color: #3B1466; border-width: 1em; border: #3B1466;}
.btn-peach {color: grey; background-color: rgba(241, 201, 182, .5); border-color: rgba(241, 201, 182, .7);}
.card-transparent {position: relative;display: -ms-flexbox;display: flex;-ms-flex-direction: column;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: transparent;background-clip: border-box;border: 1px solid transparent;border-radius: .25rem;}
.border-transparent{border-color: transparent;}
.dropdown-item.selected {background-color:  rgba(0, 54, 191, 0.172);}
.open>.dropdown-toggle {background-color:  rgba(0, 54, 191, 0.172);}
.expand_caret {transform: scale(1); padding-right: 6px; transform: scale(1) rotate(90deg);}
html {font-family: 'Open Sans', 'PT Sans', 'Gill Sans', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Helvetica Neue', 'Segoe UI', Helvetica, 'Georgia', 'sans-serif', 'serif'}
span[aria-expanded='false'] > .expand_caret {transform: scale(1) rotate(0deg);margin-right: -1px;}
div[aria-expanded='false'] > .expand_caret {transform: scale(1) rotate(0deg);margin-left: 5px;}
div[aria-expanded='false'] {background-color: #b9a7da75;}
a[aria-expanded='false'] > .expand_caret {transform: scale(1) rotate(0deg);margin-left: 5px;}
textarea.form-control {line-height: 1.25;}
.collapsebar:hover, .collapsebar:focus {color: #fff;background-color: #d8d8d88a;border-radius: 8pt;}
.btn.btn-blankJL {color: #fff;background-color: #A24743;border-color: #A24743;}
.btn.btn-light-amethyst {color: black;background-color: #b9a7da75;border-color: #b9a7da75;}
.btn-light-amethyst:hover, .btn-light-amethyst:focus, .btn-light-amethyst:active, .btn-light-amethyst.active, .open>.dropdown-toggle.btn-light-amethyst {color: #3b1466;background-color: #ff48429a;border-color: #FF4942; }
/* .btn.btn-jl {color: #fff;background-color: #3B1466;border-color: #b9a7da75;} */
/* .btn-jl:hover, .btn-jl:focus, .btn-jl:active, .btn-jl.active, .open>.dropdown-toggle.btn-jl {color: #3b1466;background-color: #ff48429a;border-color: #FF4942; } */
.btn.btn-jl {color: #ff4942;background-color: #3B1466;border-color: #b9a7da75; line-height: 97%;}
.btn-jl:hover, .btn-jl:focus, .btn-jl:active, .btn-jl.active, .open>.dropdown-toggle.btn-jl {color: #3b1466;background-color: #FF4942;border-color: #FF4942; }
.btn.btn-outline-jl {border-color: #9D89B2; color:  #3b1466; background-color: #F5F5F5;}
.btn-outline-jl:hover, .btn-outline-jl:focus, .btn-outline-jl:active, .btn-outline-jl.active, .open>.dropdown-toggle.btn-outline-jl {color: #fff;background-color: #3b1466;border-color: #ff4942;}
.btn-outline-jl:not(:disabled):not(.disabled).active, .btn-outline-jl:not(:disabled):not(.disabled):active, .show>.btn-outline-jl.dropdown-toggle {color: #fff;background-color: #3c1466b7;border-color: #3c1466b7;}

.btn.btn-light-amethyst {color: black;background-color: #b9a7da75;border-color: #b9a7da75;}
.btn-light-amethyst:hover, .btn-light-amethyst:focus, .btn-light-amethyst:active, .btn-light-amethyst.active, .open>.dropdown-toggle.btn-light-amethyst {color: #3b1466;background-color: #ff48429a;border-color: #FF4942; }
.btn.btn-coral {color: #3b1466;background-color: #ff4942;border-color: #ff4942;}
.btn-coral:hover, .btn-coral:focus, .btn-coral:active, .btn-coral.active, .open>.dropdown-toggle.btn-coral {color: #ff4942;background-color: #3b1466;border-color: #3b1466; }
.btn.btn-outline-coral {border-color: #ff4942; color:  #3b1466; background-color: transparent;}
.btn-outline-coral:hover, .btn-outline-coral:focus, .btn-outline-coral:active, .btn-outline-coral.active, .open>.dropdown-toggle.btn-outline-coral {color: #fff;background-color: #3b1466; border-color: #ff4942;}
.btn-outline-coral:not(:disabled):not(.disabled).active, .btn-outline-coral:not(:disabled):not(.disabled):active, .show>.btn-outline-coral.dropdown-toggle {color: #fff;background-color: #3c1466b7;border-color: #3c1466b7;}

.btn.btn-outline-blankJL {color: #ff4942;background-color: #fff;border-color: #A24743;}
.btn-outline-blankJL:hover, .btn-outline-blankJL:focus, .btn-outline-blankJL:active, .btn-outline-blankJL.active, .open>.dropdown-toggle.btn-outline-blankJL {color: #A24743;background-color: #e65816b7;border-color: #ff4942; }
.btn-outline-blankJL:not(:disabled):not(.disabled).active, .btn-outline-blankJL:not(:disabled):not(.disabled):active, .show>.btn-outline-blankJL.dropdown-toggle {color: #A24743;background-color: #dfb9b7b7;border-color: #ff4942;}
.btn-blankJL:hover, .btn-blankJL:focus, .btn-blankJL:active, .btn-blankJL.active, .open>.dropdown-toggle.btn-blankJL {color: #ff4942;background-color: #b9a7da75;border-color: #3b1466; }
.btn-info{background-color: #00a87e;}
.btn-outline-info{border-color: #00a87e; color: #00a87e}
.btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active, .btn-outline-info.active, .open>.dropdown-toggle.btn-outline-info {color: #fff;background-color: #00a87e;border-color: #00a87e; }
.btn-outline-info:not(:disabled):not(.disabled).active, .btn-outline-info:not(:disabled):not(.disabled):active, .show>.btn-outline-info.dropdown-toggle {color: #fff; background-color: #00a87e; border-color: #00a87e;}

.btn-muted{background-color: #d8e3e0;}
.btn-outline-muted{border-color: #d8e3e0; color: #444444}
.btn-outline-muted:hover, .btn-outline-muted:focus, .btn-outline-muted:active, .btn-outline-muted.active, .open>.dropdown-toggle.btn-outline-muted {color: #444444; background-color: #d8e3e0; border-color: #d8e3e0; }
.btn-outline-muted:not(:disabled):not(.disabled).active, .btn-outline-muted:not(:disabled):not(.disabled):active, .show>.btn-outline-muted.dropdown-toggle {color: #444444; background-color: #d8e3e0; border-color: #d8e3e0;}
#list-of-clients > tbody > tr:hover{background-color: #cfcef7b9;}
#list-of-clients > tbody > tr:hover > .sorting_1{background-color: #cfcef7b9;}
.dataTables_filter{padding-bottom: 0 !important;margin-bottom: 0 !important;}
.dataTables_info, div.dataTables_length{padding-top: 0 !important;margin-top: 0 !important;}
.dt-button.buttons-columnVisibility{padding: 0em 1em 0em 1em;}
button.dt-button:active:not(.disabled), button.dt-button.active:not(.disabled), div.dt-button:active:not(.disabled), div.dt-button.active:not(.disabled), a.dt-button:active:not(.disabled), a.dt-button.active:not(.disabled) {background-color: #e2e2e2;}
div.dt-button-collection button.dt-button:active:not(.disabled), div.dt-button-collection button.dt-button.active:not(.disabled), div.dt-button-collection div.dt-button:active:not(.disabled), div.dt-button-collection div.dt-button.active:not(.disabled), div.dt-button-collection a.dt-button:active:not(.disabled), div.dt-button-collection a.dt-button.active:not(.disabled) {box-shadow: inset 0px 0px 0px;background-color: #acb316;color: #444492;}
div.dt-button-collection button.dt-button, div.dt-button-collection div.dt-button, div.dt-button-collection a.dt-button {padding: 2px 0em 2px 0px;margin-bottom: 1px;margin-right: 0;}
.dt-button.buttons-columnVisibility.active{padding: 2px 1px 2px 1px;background-color: #acb316;border-color: #444492;}
div.dt-button-collection {margin-top: 0px;padding: 0px 0px 0px 0px;border: 1px solid rgba(196, 193, 193, 0.5);}
.dataTable tbody tr:hover {background-color: #9D89B2;}
.dataTable tbody tr:hover > .sorting_1 {background-color: #9D89B2;}
.dataTables_paginate, .paging_simple_numbers {height: 30%;  padding: 0px;}
.paginate_button{padding: 0px}
a.paginate_button{padding: 0px}
.border-thin{border-width: .0001rem; border: .0001rem solid;}